@charset "UTF-8";
body{
    background-color: rgba(1, 13, 187, 0.954);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 15%
}
h1{
    text-align: center;
    color: rgba(220, 220, 237, 0.937)
}
p{
    text-align: center;
    color: rgba(224, 225, 213, 0.886)
}
.A{
    margin-left: 616px;
    background-color: white;
    color: black;
    font-weight: 900;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.A:hover{
    background-color:darkblue
}
.B{
    margin-left: 630px;
    margin-top: 5%;
    background-color: white;
    color: black;
    font-weight: 900;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.B:hover{
    background-color:darkblue
}